body{
  font-family: 'Rubik', sans-serif;
  background-color: #8AB596;
  margin: 0 auto;
  text-align: center;
}

#game-intro{
padding: 20px 0px;
}

#game-container{
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-end {
  display: none;
}

#game-screen{
  display: none;
  align-content: center;
  padding: 20px 0px;
  margin: 20px 350px;
  overflow: hidden;
  position: relative;
  background-image: url("/images/garden.jpeg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 2000px;
  background-size: cover;
  animation: slide 5s linear infinite;
}

.header{
  margin: 50px 20px 50px 20px;
  font-size: 40px;
}

.garden-banner{
background-image: url("images/garden.jpeg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dog-face{
  height: 220px;
  width: 220px;
}

#start-button,
#restart-buttonn{
  cursor: pointer;
  background-color: #F3EEBB;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.game-rules{
  background-color: #F5F5F5;
  font-size: 24px;
  margin: 20px 500px 20px 500px;
  padding: 10px;
}

.game-stats{
  display: flex;
  justify-content: space-around;
}

